@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

/** 공통 */
* { box-sizing:border-box;  font-family: 'Nanum Gothic', sans-serif;  color: #000000; outline: none; }
html { font-size: 13px; }
body { margin: 0; }
a { text-decoration: none; }
ul, ol, dl, dd, dt { margin: 0; padding: 0; list-style: none; }

.layout_width { max-width: 1100px; margin: 0 auto;  padding: 0 10px; }
.dn { display: none !important; }

/** 제목 */
.mtitle { text-align: center; font-size: 2rem; line-height: 1; margin-bottom: 20px; }
.stitle { font-size:1.3rem; }

/** 양식 공통 */
.form_box { border: 3px solid #d5d5d5; max-width: 600px; margin: 0 auto; padding:  20px; border-radius: 5px; }
.form_box dl { display: flex; align-items: center; padding: 3px 0; }
.form_box dt { width: 80px; }
.form_box dd { width: calc(100% - 80px); }
.form_box2 { max-width: 950px; margin-bottom: 200px; }

input[type='text'], 
input[type='password'],
input[type='number'],
input[type='email'] { width: 100%; height: 40px; border: 1px solid #d5d5d5; padding: 0 10px; border-radius: 3px; }
textarea { border: 1px solid #d5d5d5; width: 100%; resize: none; height: 100px; }

input[type='radio'] { display: none; }
input[type='radio']+label { display: inline-block; padding-left: 25px; padding-right: 15px; min-height: 20px; background:url("../images/radio-off.png") no-repeat left center; line-height: 20px; cursor: pointer; }
input[type='radio']:checked+label { background:url("../images/radio-on.png") no-repeat left center; }
input[type='radio']+label.standalone { padding: 0; height: 20px; width: 20px; }

input[type='checkbox'] { display: none; }
input[type='checkbox']+label { display: inline-block; padding-left: 25px; padding-right: 15px; min-height: 20px; background:url("../images/chk-off.png") no-repeat left center; background-size: 20px; line-height: 20px; cursor: pointer; }
input[type='checkbox']:checked+label { background:url("../images/chk-on.png") no-repeat left center; background-size: 20px; }
input[type='checkbox']+label.standalone { padding: 0; height: 20px; width: 20px; }


/** 여백 */
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt50 { margin-top: 50px; }

/** 버튼 */
.btn_grp { display: flex; justify-content: space-between; }
.btn_grp button, .btn_grp a { flex-grow: 1; text-align: center; line-height: 45px; height: 45px; background-color: #212121; color: #ffffff; border: 1px solid #212121; border-radius: 3px; cursor: pointer; font-size: 1.2rem; font-weight: bold; }
.btn_grp button:first-of-type { margin-right: 3px; background-color: #ffffff; color: #212121; }
.btn_grp button:last-of-type { margin-left: 3px; }
.btn_grp button.black { background-color: #212121; color: #ffffff; }
.sbtn { border: 1px solid #212121; padding: 8px 15px; border-radius: 3px; color: #212121; background-color: #ffffff; cursor: pointer; font-size: 1rem; }

/** 정렬 */
.ac { text-align: center; }
.al { text-align: left; }
.ar { text-align: right; }

/** 레이어팝업 공통 */
#layer_dim { background:rgba(0,0,0, 0.7); position: fixed; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; z-index: 10; }
#layer_popup { background: #ffffff; position: fixed; z-index: 11; overflow-x: hidden; overflow-y: auto; }
#layer_popup .popup_title { border-bottom: 1px solid #000000;  margin-bottom: 20px; font-size: 1.15rem; font-weight: bold; padding: 0 5px 13px; }
#layer_popup .layer_close { cursor: pointer; position: absolute; right: 10px; top: 10px; font-size: 1.8rem; }

/** 페이지네이션 */
.pagination { text-align: center; padding: 15px 0; }
.pagination  a { display: inline-block; padding: 5px 10px; border: 1px solid #212121; border-radius: 5px; }
.pagination  a.on { background-color: #212121; color: #ffffff; }

/** 헤더 영역 */
header .top_menu { background-color: #f8f8f8; border-bottom: 1px solid #d5d5d5; padding: 10px; }
header .top_menu > div { text-align: right; }
header .top_menu > div a { font-size: 1.1rem; margin-right: 10px;  }
header .top_menu > div a:hover { text-decoration: underline; }
header .logo { font-size: 2.5rem; font-weight: bold; text-align: center; padding: 30px 10px; }

/** 푸터 영역 */
footer { text-align: center; background-color: #f8f8f8; padding: 20px 10px; border-top: 1px solid #d5d5d5;  }

/** 본문 영역 */
main { min-height: 600px; }

/** 메뉴 영역 */
nav { background-color: #212121; }
nav > div { display: flex; }
nav > div a { padding: 15px 20px;  color: #ffffff;  font-size: 1.3rem; }

/** 파일업로드 file/upload.jsp */
.body-file-upload  { padding: 60px 10px 10px; }
.body-file-upload .mtitle { font-size: 1.5rem; border-bottom: 1px solid #212121; height: 40px; line-height: 39px; position: fixed; top: 0; left: 0; width: 100%; background-color: #d5d5d5; font-weight: bold; z-index: 10; }
.body-file-upload #file { display: none; }
.body-file-upload  #add_file { border: 1px dashed #212121; padding: 40px 100px; font-size: 3rem; margin: 10px auto; display: block; text-align:center; color: #212121; cursor: pointer; }
.body-file-upload #uploaded_list li { border: 1px solid #d5d5d5; display: flex; justify-content: space-between; padding: 10px; align-items: center; margin: 3px 0; }
.body-file-upload #uploaded_list li .delete { cursor: pointer; }
.body-file-upload #uploaded_list li a:hover { text-decoration: underline; }

@media all and (max-width: 720px) {
	.mobile_hidden { display: none !important; }
	.mobile_fullwidth { width: 100% !important; }
}