@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

/** 공통 */
* { box-sizing:border-box;  font-family: 'Nanum Gothic', sans-serif;  color: #000000; }
html { font-size: 13px; }
body { margin: 0; }
a { text-decoration: none; }
ul, ol, dl { margin: 0; padding: 0; }

