<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	 <resultMap id="memberMap" type="models.member.MemberDto">
	 	<result property="memNo" column="memNo" />
	 	<result property="memId" column="memId" />
	 	<result property="memPw" column="memPw" />
	 	<result property="memNm" column="memNm" />
	 	<result property="email" column="email" />
	 	<result property="mobile" column="mobile" />
	 	<result property="memType" column="memType" />
	 	<result property="regDt" column="regDt" />
	 	<result property="modDt" column="modDt" />
	 </resultMap>
	 
	 <!-- 회원 조회 -->
	 <select id="member" parameterType="models.member.MemberDto" resultMap="memberMap">
	 	SELECT * FROM member WHERE memId=#{memId};
	 </select>
	 
	 <!--  회원 조회 count -->
	 <select id="memberCount" parameterType="models.member.MemberDto" resultType="int">
	 	SELECT COUNT(*) FROM member WHERE memId=#{memId};
	 </select>
	 
	 <!-- 회원목록 조회 -->
	 <select id="members" parameterType="models.member.MembersDto" resultMap="memberMap">
	 	SELECT * FROM member ORDER BY regDt DESC LIMIT #{offset}, #{limit};
	 </select>
	 
	 <!-- 회원 등록 -->
	 <insert id="register" 
	 				parameterType="models.member.MemberDto" 
	 				useGeneratedKeys="true"
	 				keyProperty="memNo">
	 	INSERT INTO member (memId, memNm, memPw, email, mobile) VALUES (#{memId}, #{memNm}, #{memPw}, #{email}, #{mobile});
	 </insert>
	 
	 <!--  회원 수정  -->
	 <update id="update" parameterType="models.member.MemberDto">
	 	UPDATE member 
	 		SET
	 			memNm=#{memNm},
	 			email=#{email},
	 			mobile=#{mobile}
			WHERE memId=#{memId}
	 </update>
	 
	 <!--  비밀번호 변경  -->
	 <update id="changePassword" parameterType="models.member.MemberDto">
	 	UPDATE member
	 		SET 
	 			memPw=#{memPw}
	 	WHERE memId=#{memId}
	 </update>
	 
	 <!--  회원 삭제  -->
	 <delete id="delete" parameterType="models.member.MemberDto">
	 	DELETE FROM member WHERE memId=#{memId}
	 </delete>
</mapper>