/** 게시글 보기 */
.body-board-view main { padding-bottom: 100px; }
.body-board-view .top_box { display: flex; justify-content: space-between; border: 1px solid #212121; padding: 15px 10px; margin: 20px 0 10px;  }
.body-board-view .top_box .left { font-size: 1.3rem; font-weight: bold; }
.body-board-view .content_box { margin-bottom: 10px; }
.body-board-view .subject { border: 1px solid #212121; padding: 15px 10px; font-size: 1.25rem; margin-bottom: 10px; font-weight: bold; }
.body-board-view .content { border: 1px solid #212121; padding: 10px; min-height: 450px; }
.body-board-view .content img { max-width: 1057px; }

.attach_files { list-style: none; margin-bottom: 10px; }
.attach_files li { border: 1px solid #d5d5d5; padding: 10px; background-color: #f8f8f8; margin-bottom: 2px; }
.attach_files li a:hover { text-decoration: underline; }

.board_btns { text-align: right; }
.board_btns a { display: inline-block; background-color: #212121; color: #fff; height: 40px; line-height: 40px; padding: 0 18px; font-size: 1.2rem; border-radius: 5px; }
.board_btns a:hover { background-color: #000; }
.board_btns a i { color: #fff; font-size: 1.2rem; }

@media all and (max-width: 500px) {
	.body-board-view .content img { width: 100%; }
}

/** 게시글 목록 */
.body-board-list .list_top { display: flex; justify-content: space-between; margin-bottom: 10px; align-items: center; }
.body-board-list .list_top .btn { border: 1px solid #212121; padding: 10px 15px; border-radius: 5px; }
.body-board-list .list_top .btn:hover { background-color: #212121; color: #ffffff; }
.body-board-list .list_top .btn:hover * { color: #ffffff; }

.body-board-list .posts li.post { display: flex; justify-content: space-between; width: 100%; border-bottom: 1px solid #d5d5d5; padding: 0 10px; height: 45px; align-items: strech; }
.body-board-list .posts li.post a, .body-board-list .posts .post_info { line-height: 43px; }
.body-board-list .posts li:first-of-type { border-top: 1px solid #d5d5d5; }
.body-board-list .no_post { text-align: center; padding: 100px 0; font-size: 1.3rem; border-bottom: 1px solid #d5d5d5;  margin-bottom: 15px; }

/** 댓글 양식 */
#frmComment { margin: 15px 0; }
#frmComment .ctop_box { border: 1px solid #d5d5d5; padding: 10px; }
#frmComment .ctop_box input[type='text'], 
#frmComment .ctop_box input[type='password'] { width: auto; width: 120px;  height: 30px; }
#frmComment .comment_box { display: flex; justify-content: space-between; border: 1px solid #d5d5d5; padding: 10px; margin: 10px 0; }
#frmComment .comment_box textarea { width: calc(100% - 100px); height: 60px; border: 1px solid #d5d5d5; resize: none; }
#frmComment .comment_box #comment_submit { border: 1px solid #212121; color: #fff; background-color: #212121; cursor: pointer; width: 95px; font-weight: bold; }

.comment_list > .comment { border: 1px solid #d5d5d5; padding: 10px; border-radius: 5px; margin-bottom: 10px; }

.comment_list .ctop { background-color: #f8f8f8; padding: 10px; border: 1px solid #d5d5d5; border-radius: 3px; margin-bottom: 10px; display: flex; justify-content: space-between; }
.comment_list  .comment_content { padding: 10px; font-size: 0.95rem; }
